# Ignore database & service data
services/gitlab/gitlab_data/
services/jenkins/jenkins_home/
services/postgresql/data/
services/sonarqube/sonarqube_data/
services/gitlab-runner/config.toml
services/gitlab-runner/.runner
services/**/config.toml
services/**/data/
services/**/logs/
services/**/volumes/

# Ignore monitoring configuration (if sensitive)
services/monitoring/prometheus/prometheus.yml
services/monitoring/loki/config.yml

# Ignore logs & temporary files
*.log
logs/
tmp/
**/logs/
**/tmp/


# Ignore compiled files & system files
__pycache__/
.vscode/
.DS_Store

# Ignore Docker-related files
.env
docker-compose.override.yml
trusted-certs-directory-hash
!services/**/.gitignore
